@import './typography.scss';

* {
  box-sizing: border-box;

  @extend %body-text;
}

html {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-100);
  background: var(--white);
  scroll-behavior: smooth;
}
