@import '@/styles/typography.scss';

.message {
  width: fit-content;

  &__content_container {
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 8px;
  }

  &__content {
    @extend %secondary-text;
    font-weight: 500;
  }

  &__send_at {
    @extend %secondary-text;
    font-size: 12px;
    color: var(--gray-60);
  }
}